<configuration>
  <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <handlers>
            <add name="fastcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\realestate\venv\scripts\python.exe|D:\RealEstate\manage.pyfcgi--pythonpathD:\RealEstate\dmr--settingsdmr.settings" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="dmr.wsgi.application" />
    <add key="PYTHONPATH" value="C:\Program Files\Python39\python.exe" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:\Logs\my_app.log" />
    <add key="DJANGO_SETTINGS_MODULE" value="dmr.settings" />
  </appSettings>
    <system.web>
        <customErrors mode="Off" />
        <roleManager enabled="true" />
    </system.web>
</configuration>